@font-face {
font-family: YuGothic, Yu Gothic;
src: local(YuGo-Medium),
    url(/path/to/YuGo-Medium.woff2) format("woff2"),
    url(/path/to/YuGo-Medium.woff) format("woff"),
    url(/path/to/YuGo-Medium.ttf) format("truetype");
font-weight: 500;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: YuGothic, Yu Gothic;
src: local(YuGo-Bold),
    url(/path/to/YuGo-Bold.woff2) format("woff2"),
    url(/path/to/YuGo-Bold.woff) format("woff"),
    url(/path/to/YuGo-Bold.ttf) format("truetype");
font-weight: bold;
font-style: normal;
font-stretch: normal;
}

h1 {
font-family: YuGothic, Yu Gothic;
font-size: 26px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: -0.13px;
}

h2 {
font-family: YuGothic, Yu Gothic;
font-size: 22px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
}

h3 {
font-family: YuGothic, Yu Gothic;
font-size: 18px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: 0.04px;
}

body {
font-family: YuGothic, Yu Gothic;
font-size: 14px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: 0.11px;
}
